<%# add navigation links to this file %>
<% if current_member.admin? %>
  <li><%= link_to 'Members', members_path %></li>
  
  <li><%= link_to 'New Supplier', new_supplier_path %></li>
<% else %>

<% end %>